.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  margin: 20px auto;
  border-radius: 50%;
  width: 7rem;
  height: auto;
  padding: 5px;
  background-image: linear-gradient(
    90deg,
    #f62bec 0%,
    #b124ee 55.52%,
    #06e5cb 100%
  );
}

header img:hover, .card:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

.bands {
  max-width: 600px;
  border-radius: 3%;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
    90deg,
    #f62bec 0%,
    #b124ee 55.52%,
    #06e5cb 100%
  );
}

.background {
  border-radius: 3%;
  background-color: #08162a;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.bands h2 {
  margin-top: 7px;
  margin-bottom: 0;
  padding-top: 15px;
  color: white;
  text-align: center;
  font-weight: 900;
}

.bands p {
  margin-top: 5px;
  color: #e0e0e0;
  text-align: center;
}

.band-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}
